:root{
    --gradient : linear-gradient(90deg, #4a00e0, #8e2de2 );
}
nav {
    display: flex;
    justify-content: space-between;
    background: var(--gradient);
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0 0 5px 5px;
}

.icon {
    height: 3rem;
    width: 3rem;
    margin: 7px;
}

.app {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 3rem;
    color: white;
    text-shadow:  1px 2px 2px gold;

}

.logo {
    display: flex;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.linkButton{
    display: flex;
    margin: 5px;
}
.linkButton button {
    margin: 0 0.5rem;
    height: 2.3rem;
    border-radius: 1px 4px;
    border: 0.5px solid white;
    padding: 7px;
    font-size: 20px;
    font-style: italic;
    font-family: Kode monospace;
    background: none;
    color: white;
    cursor: pointer;
    text-align: center;
    box-shadow: 2px 2px 1px  white;
}
.linkButton button:hover{
    box-shadow: none;
    transform: scale(.95); 
}
